<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="Connection"
          connectionString="data source=.;initial catalog=DeclarationTvsSOTIMEAncien;persist security info=True;Integrated Security=SSPI;"
          providerName="System.Data.SqlClient" />-->
  <!--  <add name="Connection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-1DJR30K\SQL2014;Initial Catalog=DecAmenConseil;User Id=;Pwd=;Integrated Security=True"/>-->
    <add name="Connection" providerName="System.Data.SqlClient" connectionString="Data Source=172.17.1.243\sqlexpress;Initial Catalog=DeclarationTvsTest;User Id=sa;Pwd=Admin123;Integrated Security=False"/>
   
  </connectionStrings>
    
    
</configuration>

<!--http://www.impots.finances.gov.tn/index.php/fr/services-en-ligne/depot-sur-support-magnetique-->