<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_DeclarationTvsSOTIMEAncien_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=DeclarationTvsSOTIMEAncien;Persist Security Info=true" />
        <add name="localhost_DeclarationTvsSOTIMEAncien_Connection 1"
            connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=DeclarationTvsSOTIMEAncien;Persist Security Info=true" />
        <add name="localhost_DeclarationTvsSOTIMEAncien_Connection 2"
            connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=DeclarationTvsSOTIMEAncien;Persist Security Info=true" />
    </connectionStrings>
</configuration>